<?xml version="1.0" encoding="UTF-8"?>
<!--
* Copyright 2015 wendel fleming
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*    http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/data/elasticsearch
            http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd">

    <elasticsearch:repositories base-package="edu.usc.lunchnlearn.elasticsearch.dao" />

    <elasticsearch:transport-client id="client" cluster-nodes="127.0.0.1:9300" cluster-name="wowelastic" />

    <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="client"/>
    </bean>



    <bean name="multiTypeSearch" class="edu.usc.lunchnlearn.elasticsearch.dao.es.MultiTypeSearchImpl">
        <property name="indexName" value="wow"/>
        <property name="typeNames">
            <list>
                <value type="java.lang.String">Recipe</value>
                <value type="java.lang.String">Miscellaneous</value>
                <value type="java.lang.String">Gem</value>
                <value type="java.lang.String">Key</value>
                <value type="java.lang.String">Trade Goods</value>
                <value type="java.lang.String">Battle Pets</value>
                <value type="java.lang.String">Weapon</value>
                <value type="java.lang.String">Glyph</value>
                <value type="java.lang.String">Container</value>
                <value type="java.lang.String">Quest</value>
                <value type="java.lang.String">Consumable</value>
                <value type="java.lang.String">Armor</value>
                <value type="java.lang.String">Reagent</value>
                <value type="java.lang.String">WoW Token</value>
                <value type="java.lang.String">No longer available</value>
            </list>
        </property>
    </bean>

    <bean name="searchSuggest" class="edu.usc.lunchnlearn.elasticsearch.dao.es.SearchSuggestImpl">
        <property name="client" ref="client"/>
    </bean>

</beans>


